<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:property-placeholder location="classpath:redis.properties" />

       <context:component-scan base-package="cn.stark.*"/>

       <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
              <property name="maxTotal" value="${redis.maxTotal}"/>
              <property name="maxIdle" value="${redis.maxIdle}"/>
              <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
       </bean>
       <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
              <constructor-arg index="0" ref="jedisPoolConfig"/>
              <constructor-arg index="1" type="java.lang.String" value="127.0.0.1"/>
              <constructor-arg index="2" type="int" value="6379"/>
       </bean>
</beans>